<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Chart js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/loadData.js}" src="../static/js/loadData.js"></script>

    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>

    <title>Graph</title>
</head>
<body>
<div class="container-fluid">
<script th:inline="javascript">
    var graphData = /*[[${graphData}]]*/ null;
    var mm50Data =  /*[[${mm50Data}]]*/ null;
    var mm20Data =  /*[[${mm20Data}]]*/ null;
    var ema20Data =  /*[[${ema20Data}]]*/ null;
    var dema20Data =  /*[[${dema20Data}]]*/ null;
    var resList = /*[[${resistances}]]*/ null;
    var supList = /*[[${supports}]]*/ null;
    var actionName = /*[[${actionName}]]*/ "Wendel";
</script>
    <div th:replace="header :: navbar">FUCKING NAVBAR</div>

    <div class="page-header">
        <h1 th:text="|Chart of ${action.name} share|">Chart of Wendel share</h1>
        <img src="../static/img/arrow_up.png" th:src="@{${trend_img_url}}" class="resize"/>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <div class="chart-container">
                <form action="graph.html" th:attr="action=@{/graph}">
                    <div class="btn-group">
                        <input type="submit" class="btn btn-info" value="1" name="period"/>
                        <input class="btn btn-info" type="submit" value="3" name="period"/>
                        <input class="btn btn-info" type="submit" value="6" name="period"/>
                        <input class="btn btn-info" type="submit" value="9" name="period"/>
                        <input class="btn btn-info" type="submit" value="12" name="period"/>
                        <input class="btn btn-info" type="submit" value="24" name="period"/>
                        <input class="btn btn-info" type="submit" value="36" name="period"/>
                    </div>
                </form>
                <canvas id="chartjs-0" class="chartjs"></canvas>
                <form action="graph.html" th:attr="action=@{/graph}">
                    <fieldset>
                        <label for="mm20">MM20</label>
                        <input id="mm20" type="checkbox" value="mm20" name="lines"/>
                        <label for="mm50">MM50</label>
                        <input id="mm50" type="checkbox" value="mm50" name="lines"/>
                        <label for="ema20">EMA20</label>
                        <input id="ema20" type="checkbox" value="ema20" name="lines"/>
                        <label for="dema20">DEMA20</label>
                        <input id="dema20" type="checkbox" value="dema20" name="lines"/>
                        <label for="support">Support</label>
                        <input id="support" type="checkbox" value="support" name="lines"/>
                        <label for="resistance">Resistance</label>
                        <input id="resistance" type="checkbox" value="resistance" name="lines"/>
                        <input type="submit" value="Refresh"/>
                    </fieldset>
                </form>
                <script type="text/javascript">
                    var data = loadData(graphData);
                    if(data == null || data == undefined){
                        data = [{
                            t: '2017-09-18',
                            y: 65
                        }, {
                            t: '2017-09-19',
                            y: 59
                        },{
                            t: '2017-09-20',
                            y: 80
                        }, {
                            t: '2017-09-21',
                            y: 81
                        }, {
                            t: '2017-09-22',
                            y: 56
                        }];
                    }
                    var mm50 = loadData(mm50Data);
                    var mm20 = loadData(mm20Data);
                    var ema20 = loadData(ema20Data);
                    var dema20 = loadData(dema20Data);
                    var resistances = loadData(resList);
                    var supports = loadData(supList);

                    var datasets = [
                        {
                            "label":actionName,
                            "data": data,
                            "fill":false,
                            "borderColor":"black",
                            "lineTension":0.05,
                            "pointRadius":2,
                            "borderWidth":2
                        }];
                    var dataset;
                    if(mm50 !== null){
                        dataset  =
                        {
                            "label":"MM50",
                            "data": mm50,
                            "fill":false,
                            "borderColor":"blue",
                            "lineTension":0.1,
                            "pointRadius":2,
                            "borderWidth":2
                        };
                        datasets.push(dataset);
                        document.getElementById("mm50").setAttribute("checked", "");
                    }
                    if(mm20 !== null){
                        dataset = {
                                "label":"MM20",
                                "data": mm20,
                                "fill":false,
                                "borderColor":"pink",
                                "lineTension":0.1,
                                "pointRadius":2,
                                "borderWidth":2
                                }
                        datasets.push(dataset);
                        document.getElementById("mm20").setAttribute("checked", "");
                    }
                    if(ema20 !== null){
                        dataset = {
                            "label":"EMA20",
                            "data": ema20,
                            "fill":false,
                            "borderColor":"yellow",
                            "lineTension":0.1,
                            "pointRadius":2,
                            "borderWidth":2
                        }
                        datasets.push(dataset);
                        document.getElementById("ema20").setAttribute("checked", "");
                    }
                    if(dema20 !== null){
                        dataset = {
                            "label":"DEMA20",
                            "data": dema20,
                            "fill":false,
                            "borderColor":"orange",
                            "lineTension":0.1,
                            "pointRadius":2,
                            "borderWidth":2
                        }
                        datasets.push(dataset);
                        document.getElementById("dema20").setAttribute("checked", "");
                    }
                    if(resistances !== null){
                        dataset = {
                            "label":"Resistance",
                            "data": resistances,
                            "fill":false,
                            "borderColor":"green",
                            "lineTension":0.1,
                            "showLine":true,
                            "pointRadius":0
                        };
                        datasets.push(dataset);
                        document.getElementById("resistance").setAttribute("checked", "");
                    }
                    if(supports !== null){
                        dataset =  {
                            "label":"Support",
                            "data": supports,
                            "fill":false,
                            "borderColor":"red",
                            "lineTension":0.1,
                            "showLine":true,
                            "pointRadius":0
                        };
                        datasets.push(dataset);
                        document.getElementById("support").setAttribute("checked", "");
                    }

                    new Chart(document.getElementById("chartjs-0"),
                            {
                                "type":"line","data":
                                {
                                    "datasets": datasets
                                },
                                "options":{
                                    responsive:true,
                                    maintainAspectRatio:true,
                                    scales: {
                                        xAxes: [{
                                            type: 'time',
                                            display: true,
                                            scaleLabel: {
                                                display: true,
                                                labelString: 'Date'
                                            },
                                            time: {
                                                unit: 'month'
                                            }
                                        }],
                                        yAxes: [{
                                            display: true,
                                            scaleLabel: {
                                                display: true,
                                                labelString: 'Price'
                                            }
                                        }]

                                    }
                                }
                            });
                </script>
            </div>
        </div>
        <div class="col-sm-2">
            <h4>Infos</h4>
            <fieldset>
                <span th:text="|ISIN: ${action.isin} Ticker: ${action.ticker}|">ISIN: FR0000121204 Ticker: MF</span><br/>
                <span th:text="|Medium Mark: ${action.globalMark}|">Medium Mark : 1</span><br/>
                <span th:text="|Bourso Mark: ${action.boursoMark}|">Bourso Mark : 1,9</span><br/>
                <span th:text="|Abc Bourse Mark: ${action.abcMark}|">Abc bourse Mark : 1</span><br/>
                <span th:text="|Technical Mark: ${action.technicalMark}|">Technical Mark : 1</span><br/>
                <span th:text="|Potential: ${action.potential*100}% (1m)|">Potential : 20% (1m)</span>
                <span th:text="|Coef: ${action.coef} |">Coef : 0.5</span>
            </fieldset>
        </div>
    </div>
</div>
</body>
</html>